.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #075e54;
  height: 100vh;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  font-size: 18px;
}
